body{

}

* {
    transition: all 1500ms ease;    
}

.cup{
    position: relative;
    width: 600px;
    height: 600px;
    background: purple;
}

.cup:hover, .cup:hover .counter{
    background: yellow;
}

.square {
    width: 260px;
    height: 400px;
    position: absolute;
    background: black;
    top: 100px;
    left: 150px;
    border-radius: 20px 20px 120px 120px;

    cursor: url('flame.png'), auto;   
}

.square:hover, .square:hover ~ .handle {
    background: red;
}

.square:hover, .square:hover ~ .handle, .square:hover ~ .counter {
    filter: blur(10px);
}

/*.square:hover {
    background: red;
}

*/
.square:hover ~ div.handle {
    background: red;
}


/*.square:hover, .square:hover ~ div.handle {
    background: red;
} */

.handle {
    width: 200px;
    height: 250px;
    background: black;
    position: absolute;
    left: 310px;
    top: 130px;
    border-radius: 30px;
}

.counter {
    width: 70px;
    height: 183px;
    background: purple;
    position: absolute;
    left: 410px;
    top: 162px;
    border-radius: 0px 10px 10px 0px;
}

/*.square{
    width: 300px;
    height: 500px;
    background: red;  
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.handle{
    width: 100px;
    height: 300px;
    background: blue;
    position: relative;
    bottom: 90px;
    right: 4px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.inline{
    display: inline-block;
}*/