* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body{
    height: 500vh;
    width: 100vw;
    font-family: courier;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,1,255,1) 100%);
}

#box {
    width: 400px;
    height: 400px;
    background: black;

    position: absolute;
    top: calc(500vh - 580px);
    left: calc(50vw - 200px);
    padding: 20px;

    z-index: 1;
}

#inner-box {
    color: white;
    font-size: 24px;
}

#ballot {
    width: 200px;
    height: 380px;
    position: fixed;
    background: white;
    left: calc(50vw - 100px);
    top: calc(100vh - 571px);
    padding: 10px;

    z-index: 0;
    text-align: center;
    text-transform: uppercase;
}
